<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="target-densitydpi=device-dpi,width=720,user-scalable=no">
    <title>touchSlide</title>
    <link rel="stylesheet" href="../css/reset.css">
    <style>
        html,body{
            width:720px;
            height: 100%;
            overflow: hidden;
        }
        .container{
            position: relative;
            overflow: hidden;
        }
        .slide-list{
            position: relative;
            height:950px;
            white-space: nowrap;
            font-size: 0;
        }
        .slide-list > li{
            display: inline-block;
            width:720px;
            height:100%;
        }
        .slide-list > li > img{
            display: block;
            width: 100%;
            height: 900px;
        }
        .slide-list > li > p {
            height:50px;
            line-height: 50px;
            font-size:30px;
            color:#f00;
            font-weight: bolder;
            text-align: center;
        }
        .dot-list{
            position: absolute;
            right: 15px;
            bottom: 65px;
        }
        .dot-list > li {
            float: left;
            width: 25px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-size: 0;
        }
        .dot-list > li > i{
            display: inline-block;
            width: 8px;
            height: 8px;
            background: #666;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            vertical-align: middle;
        }
        .dot-list > .current > i{
            width: 12px;
            height: 12px;
            background: #000;
        }
    </style>
</head>
<body>
    <div class="container">
        <ul class="slide-list">
            <li><img src="../img/01.jpg"><p>1</p></li>
            <li><img src="../img/02.jpg"><p>2</p></li>
            <li><img src="../img/03.jpg"><p>3</p></li>
            <li><img src="../img/04.jpg"><p>4</p></li>
            <li><img src="../img/05.jpg"><p>5</p></li>
        </ul>
        <ul class="dot-list"><li><i></i></li><li><i></i></li><li><i></i></li><li><i></i></li><li><i></i></li></ul>
    </div>
    {{#debug}}<script src="http://localhost:1234/target/target-script-min.js#anonymous"></script>{{/debug}}
    <script src="../js/zepto.min.js"></script>
    <script src="../js/touchSlide_v2.js?ver={{timestamp}}"></script>
    <script>
        $(window).on('ready', function(){
            new TouchSlide({
                slideContainer: $('.slide-list'),
                dotContainer: $('.dot-list')
            });
        });
    </script>
</body>
</html>